*:not(input,textarea) {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
   	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   	-webkit-highlight: none;
}

#home
{
	background-image:url("../images/bg.png");
	background-repeat:no-repeat;
	background-position:center; 
	background-size: 100% 100%;
}

#game-photo
{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  display: block;
    margin: 0px auto;
}

.score 
{
float:right;
}

​