*:not(input[type=date],input[type=number],textarea) {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
/*    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
   	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   	-webkit-highlight: none;
}
header a img {
	font-size: 1.5em !important; 
	margin: 0 auto !important;
	/*border: 2px solid black !important;*/
}

header h1{
	font-size: 1.1em !important; 
	padding-top: 15px !important;
	padding-bottom: 22px !important;
}


ul{
	font-size: 1.1em !important; 
}

.page-header a{
	font-size: 1.0em !important;	 
	margin: 0px auto;
	padding: 1px;
}

.ui-footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

#home-page
{
	/*background-image:url("../images/bg.png");*/
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
}

.field-container {
	table-layout:fixed;
	width:100%;
	max-height:25%
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse !important;
	margin: 0px auto;
}

.x-btn {
	/*background: url("../images/X-icon.png");
	background-position:center;
	background-repeat:no-repeat;*/
	display: block;
	margin-left: 0 auto;
    margin-right: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px
}

.bowling-calc-score-container table {
	table-layout:fixed; width:100%;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse !important;
}

.bowling-calc-buttons-container table {
	table-layout:fixed; width:100%;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse !important;
}

.bowling-calc-buttons-table-1 a, .bowling-calc-buttons-table-2 a{
	font-size: 1.5em;
	padding-left:0;
	padding-right:0;
	padding-top: 12px;
	padding-bottom: 12px;
}

.final-res-container h1{
	width: 100% ;
	vertical-align: middle;
	text-align: center;
	margin-left: auto ;
  	margin-right: auto ;
  	font-size: 2em;
}

.bowling-calc-score-container label {
	height: 100%;
	width: 100%;/*25px;*/
	text-align: center;
	vertical-align: middle;
}

.bowling-calc-score-container .second {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

.bowling-calc-score-container .third {
	border-bottom: 2px solid black;
}

.bowling-calc-score-container .frame {
	border-right: 2px solid black;
}

.bowling-calc-score-container .frame-no {
	border-right: 2px solid black;

}

.bowling-calc-score-container .top-frame {
	border-radius: 8px 8px 0 0;
	background: #8E8E93;
	color: #FFFFFF;
}

.bowling-calc-score-container .frame-no:nth-child(even) {

	background: #555558;
}

.bowling-calc-score-container .middle-frame {
	border-top: 2px solid black;
}

.bowling-calc-score-container .first-frame-no {
	border-right: 2px solid black;
	border-radius: 8px 0 0 0;
	background: #8E8E93;
}

.bowling-calc-score-container .last-frame-no {
	border-radius: 0 8px 0 0;
	background: #555558;
}

.bowling-calc-score-container {
		border-radius: 8px;
		border: 2px solid black;
		background: #FFFFFF;
}

.stats-score
{
float:right;
}
/*
.form-item-frame1-2 {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 1.5em solid transparent;
	border-left: 1.5em solid #000000;
	border-right: 1.5em solid #000000;
	left: 0em;
	top: 0em;
}

.form-item-frame2-2 {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 1.5em solid transparent;
	border-right: 1.5em solid #000000;
	border-bottom: 1.5em solid #000000;
	left: 0em;
	top: 0em;
}*/
