*:not(input[type=date],input[type=number],textarea) {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
/*    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
   	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   	-webkit-highlight: none;
}

#home
{
	background-image:url("../images/bg.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
}

.game-photo
{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  display: block;
    margin: 0px auto;
}

.field-container {
	table-layout:fixed; 
	width:100%;
	max-height:25%
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse !important;
	margin: 0px auto;
}

.game-photo2
{

    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto
}


.stats-score
{
float:right;
}

.bowling-calc-score-container table {
	table-layout:fixed; width:100%;
	/*border: 2px solid black;*/
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse !important;
}

.bowling-calc-buttons-container table {
	table-layout:fixed; width:100%;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse !important;
}

.final-res-container h1{
	width: 100% ;
	vertical-align: middle;
	text-align: center;
	margin-left: auto ;
  	margin-right: auto ;
  	font-size: 3em;
}

.bowling-calc-score-container label {
	height: 100%;
	width: 100%;/*25px;*/
	text-align: center;
	vertical-align: middle;
}
/*
​.bowling-calc-score-container .first {
	border-top: 2px solid black;
	padding-bottom: 0px;
}*/

.bowling-calc-score-container .second {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

.bowling-calc-score-container .third {
	border-bottom: 2px solid black;
}

.bowling-calc-score-container .frame {
	border-right: 2px solid black;
}


.bowling-calc-score-container .frame-no {
	border-right: 2px solid black;
	border-bottom: 2px solid black;

}

.bowling-calc-score-container .top-frame {
	border-radius: 8px 8px 0 0;
	border-bottom: 2px solid black;
	background: #8E8E93;
	color: #FFFFFF;
}

.bowling-calc-score-container .first-frame-no {
	border-right: 2px solid black;
	border-radius: 8px 0 0 0;
	background: #8E8E93;
}

.bowling-calc-score-container .last-frame-no {
	border-radius: 0 8px 0 0;
	background: #8E8E93;
}

.bowling-calc-score-container {
		border-radius: 8px;
		border: 2px solid black;
}
/*
td.bowling-calc-buttons-container input[type=button] {
	width: 100% ;
	margin-top: 10px ;
	padding-left: 15px ;
}

td.bowling-calc-buttons-container input[type=button].calc-buttons {
    border: none ;
    display: block ;
    background: #136899 ;
    height: 40px ;
    width: 100% ;
    color: #ffffff ;
    text-align: center ;
  	-webkit-transition: all 0.15s linear ;
	  -moz-transition: all 0.15s linear ;
	  transition: all 0.15s linear;
}

.ui-btn input[type=button].calc-buttons:disabled {
    border: #014677 5px solid !important;
   display: block ;
	background: #FFFFFF !important;
}


.form-item-frame1-2 {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 1.5em solid transparent;
	border-left: 1.5em solid #000000;
	border-right: 1.5em solid #000000;
	left: 0em;
	top: 0em;
}

.form-item-frame2-2 {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 1.5em solid transparent;
	border-right: 1.5em solid #000000;
	border-bottom: 1.5em solid #000000;
	left: 0em;
	top: 0em;
}*/
