<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.BowlingStats"
    version   = "0.1.0">
    
	<name>Bowling Stats</name>
	
	<description>
        PhoneGap Bowling Stats
    </description>

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	
	<icon src="res/icon.png"/>
	<icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
</widget>