<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.BowlingStats"
    version   = "0.1.0">
    
	<name>Bowling Stats</name>
	
	<description>
        PhoneGap Bowling Stats
    </description>

	<preference name="orientation"      value="portrait" />
	
	<icon src=images/"icon.png" gap:role="default" />
</widget>